.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  background-color: #596273;
  display: flex;
  padding: 2rem;
  border-radius: 7px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container button {
  background-color: #3366ff;
  color: #ecf0f1;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  font-size: 12pt;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s linear;
  margin: 5px;
  width: 90px;
  text-transform: capitalize;
}

.button-container button:active {
  transform: scale(0.98);
  background-color: green;
}

.button-container button:focus {
  outline: none;
}

.button-container button:hover {
  background-color: green;
  transition: 0.3s linear;
}

.box {
  background-color: #ecf0f1;
  color: #282c34;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  max-width: 700px;
}

.box p {
  font-size: 16pt;
}

.box button {
  background-color: #e55039;
  color: #ecf0f1;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  font-size: 14pt;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s linear;
}

.box button:active {
  transform: scale(0.98);
}
.box button:focus {
  outline: none;
}
